.vagrant
*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~

# Bundler
Gemfile.lock

.bundle/*

# test kitchen
.kitchen/
.kitchen.local.yml

# Chef
Berksfile.lock
.zero-knife.rb
Policyfile.lock.json

# InteliJ Specific Ignores
.idea
*.iml

#Project Specific Ignores
target
simple.log
out
install.sh 

# Eclipse Specific Ignores
.classpath
.project
.settings
.delivery
.idea
